---
---

.layout-course .parallax-container .hills{
  -skrollr-animation-name: hills;
}
@-skrollr-keyframes hills{
  start{
    transform: translate3d(-50%,-10%,0);
  }
  end{
    transform: translate3d(-50%,-12%,0);
  }
}

.layout-course .parallax-container .forest1{
  -skrollr-animation-name: forest1;
}
@-skrollr-keyframes forest1{
  start{
    transform: translate3d(-50%,-15%,0);
  }
  end{
    transform: translate3d(-50%,-20%,0);
  }
}

.layout-course .parallax-container .forest2{
  -skrollr-animation-name: forest2;
}
@-skrollr-keyframes forest2{
  start{
    transform: translate3d(-50%,-10%,0);
  }
  end{
    transform: translate3d(-50%,-20%,0);
  }
}

.layout-course .parallax-container .rocks{
  -skrollr-animation-name: rocks;
}
@-skrollr-keyframes rocks{
  start{
    transform: translate3d(-50%,-0%,0);
  }
  end{
    transform: translate3d(-50%,-40%,0);
  }
}

.layout-course .parallax-container .rocks2{
  -skrollr-animation-name: rocks2;
}
@-skrollr-keyframes rocks2{
  start{
    transform: translate3d(-50%, 20%,0);
  }
  end{
    transform: translate3d(-50%,-40%,0);
  }
}

.layout-course .parallax-container .clouds{
    -skrollr-animation-name: clouds;
}
@-skrollr-keyframes clouds{
  skrollr-3000-end{
    opacity#{"[quadratic]"}: 0.001;
  }
  skrollr-1000-end{
    opacity#{"[quadratic]"}: 0.7;
  }
}

.layout-course article .gallery .stripe-wrapper{
  -skrollr-animation-name: gallery;
}
@-skrollr-keyframes gallery{
  skrollr--100-top{
    transform#{"[swing]"}: translate3d(100%,0%,0);
  }
  skrollr-100-bottom{
    transform#{"[swing]"}: translate3d(0%,0%,0);
  }
}
.layout-course article .gallery .stripe{
  -skrollr-animation-name: gallery-stripe;
}
@-skrollr-keyframes gallery-stripe{
  skrollr--100-top{
    transform#{"[swing]"}: translate3d(-100%,0%,0);
  }
  skrollr-100-bottom{
    transform#{"[swing]"}: translate3d(0%,0%,0);
  }
}

.layout-course .parallax-container .footer-stone{
  -skrollr-animation-name: footer-stone;
}
@-skrollr-keyframes footer-stone{
  skrollr-610-end{
    transform: translate3d(-50%,100%,0);
  }
  skrollr-end{
    transform: translate3d(-50%,0%,0);
  }
}
/*color:rgba(1,0,0,0.999);*/
