---
---

.layout-course .parallax-container .hills{
  -skrollr-animation-name: hills;
}
@-skrollr-keyframes hills{
  start{
    transform: translate3d(-50%,-10%,0);
  }
  end{
    transform: translate3d(-50%,-20%,0);
  }
}

.layout-course .parallax-container .forest1{
  -skrollr-animation-name: forest1;
}
@-skrollr-keyframes forest1{
  start{
    transform: translate3d(-50%,-15%,0);
  }
  end{
    transform: translate3d(-50%,-25%,0);
  }
}

.layout-course .parallax-container .forest2{
  -skrollr-animation-name: forest2;
}
@-skrollr-keyframes forest2{
  start{
    transform: translate3d(-50%,-15%,0);
  }
  end{
    transform: translate3d(-50%,-28%,0);
  }
}

.layout-course .parallax-container .rocks{
  -skrollr-animation-name: rocks;
}
@-skrollr-keyframes rocks{
  start{
    transform: translate3d(-50%,-0%,0);
  }
  end{
    transform: translate3d(-50%,-50%,0);
  }
}

.layout-course .parallax-bg-clouds{
    -skrollr-animation-name: parallax-bg-clouds;
}
@-skrollr-keyframes parallax-bg-clouds{
  skrollr-1500-end{
    opacity#{"[quadratic]"}: 0.001;
  }
  skrollr-end{
    opacity#{"[quadratic]"}: 0.8;
  }
}

/*color:rgba(1,0,0,0.999);*/
