<div class="include-enroll-form">
  <img class="background" src="/img/course/footer-stone.svg">
  
  <div class="content">
    <a name="enroll-form"></a>
    <div class="enroll-form-wrapper">
      <form id="enroll-form" action="https://formspree.io/{{ site.email }}" method="POST">
        <input type="email" id="enroll-form-email" placeholder="your@mail.ru" name="_replyto"><button>Узнать о наличии мест</button>
        <div class="enroll-form-status" style="display: none;"></div>
      </form>
      <div class="success" style="display: none;">
        <a class="btn">Отправить ещё раз</a>
        <p>Мы получили вашу почту.<br>Скоро напишем!</p>
      </div>
    </div>
    
    <div class="vk">
      <a href="{{ site.vk }}">Или спросите во&nbsp;«Вконтакте»</a>
    </div>
  </div>
</div>
<script>
  var $form = $('#enroll-form');
  var $formStatus = $form.find('.enroll-form-status');
  var $formSuccess = $('.include-enroll-form .success');
  var duration = 100;

  function switchStatus(isDone){
    if(isDone){
      $form.fadeOut(duration, function(){
        $formSuccess.fadeIn(duration);
      });
    }
    else{
      $formStatus.hide();
      $formSuccess.fadeOut(duration, function(){
        $form.fadeIn(duration);
      });
    }
  }
  $formSuccess.find('.btn').click(function(){
        switchStatus(false);
      });

  $form.submit(function(e) {
  	e.preventDefault();
  	$.ajax({
      url: '//formspree.io/{{ site.email }}',
  		method: 'POST',
  		data: $(this).serialize(),
  		dataType: 'json',
  		beforeSend: function() {
        $formStatus.show();
        $formStatus.removeClass("error");
        $formStatus.html("<p>Отправляем...</p>");
  		},
  		success: function(data) {
        switchStatus(true);
  		},
        error: function(err) {
        $formStatus.addClass("error");
        $formStatus.html("<p>Ой, не получилось. Не сдавайтесь! Напишите на почту: <a href='mailto:{{ site.email }}'>{{ site.email }}</a></p>");
  		}
  	});
  });
</script>
