<section class="include-reviews">
  <h2>Отзывы</h2>
  {% assign reviews = site.course_reviews | sort:"weight" %}
  {% for review in reviews %}
  {% assign image_path = review.path | split:"/" | last | split:"." | first %}
  {% assign image_path = image_path | prepend:"/img/reviews/" | append:".png" %}
    <div class="review">
      <img src="{{ image_path }}" alt="{{ review.name }}">
      <p><a href="{{ review.link }}">{{ review.name }}</a></p>
      {% assign content_html = review.content | markdownify %}
      {% include typograph.html content=content_html %}
    </div>
  {% endfor %}
</section>
