<section class="include-summary">
  <div class="enroll">
    <div class="description">
      {% assign content_html = include.description | markdownify %}
      {% include typograph.html content=content_html %}
    </div>
    <div class="btn-wrapper">
      <a id="scroll-to-form" class="btn">Узнать о наличии мест</a>
    </div>
  </div>
  <div class="audience-groups">
    {% for group in include.audience_groups %}
      <div class="group">
        {% assign content_html = group | markdownify %}
        {% include typograph.html content=content_html %}
      </div>
    {% endfor %}
  </div>
</section>
<script>
$("#scroll-to-form").click(function(){
  $('html, body').animate({
      scrollTop: $("#enroll-form").offset().top
    }, 1000, function(){
    $('#enroll-form-email').focus();
  });
});
</script>
