<section class="include-summary">
  <div class="enroll">
    <div class="info">
      <div>{{ include.dates }}</div>
      <div>{{ include.place }}</div>
    </div>
    <div class="btn-wrapper">
      <a href="#" class="btn">Узнать о наличии мест</a>
    </div>
  </div>
  <div class="description">
    <p>Хайлайн — хождение по ленте на большой высоте.</p>
    <p>Научим натягивать хайлайн и ходить по нему. Расскажем, как рассчитать нагрузку, какое снаряжение выбрать, каких ошибок избежать.</p>
  </div>
  <div class="audience-groups">
    <div class="group"><strong>Новички</strong>, которые только вчера встали на стропу, прокачают теорию и практику, получат заряд мотивации для дальнейшего обучения.</div>
    <div class="group"><strong>Слэклайнеры</strong>, которые проходят  20-метровые линии, сделают первые шаги на головокружительной высоте.</div>
    <div class="group"><strong>Хайлайнеры</strong> отточат мастерство, обменяются опытом и привезут домой крутые фотографии.</div>
  </div>
</section>
