<section class="include-summary">
  <div class="enroll">
    <div class="btn-wrapper">
      <a id="scroll-to-form" class="btn">Узнать о наличии мест</a>
    </div>
    <div class="description">
      {% assign content_html = include.description | markdownify %}
      {% include typograph.html content=content_html %}
    </div>
  </div>
  <div class="audience-groups">
    {% for group in include.audience_groups %}
      <div class="group">
        {% assign content_html = group | markdownify %}
        {% include typograph.html content=content_html %}
      </div>
    {% endfor %}
  </div>
</section>
<script>
$("#scroll-to-form").click(function(){
  $form = $("#enroll-form");
  $form.css({opacity: 0.01, top: 20});
  $('body').animate({
    scrollTop: $form.offset().top
  }, 1000, "swing", function(){
    $form.animate({opacity: 1, top: 0}, 500, function(){
        $('#enroll-form-email').focus();
      });
  }, 50);
});
</script>
