@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin underlined-link($color){
  border-bottom: 1px solid rgba( $color, .3 );
  color: $color;
  text-decoration: none;
}

@mixin clip-path($value){
  -webkit-clip-path: $value;
  clip-path: $value;
}

@mixin mask($variant){
  // http://bennettfeely.com/clippy/
  @if ($variant == 1) {
    @include clip-path(polygon(0.95% 35.29%, 0.11% 88.73%, 2.64% 96.08%, 35.23% 95.34%, 41.56% 91.42%, 82.81% 97.06%, 88.82% 89.95%, 99.05% 88.73%, 98.42% 59.56%, 97.36% 57.60%, 98.52% 56.86%, 97.26% 14.46%, 97.05% 8.82%, 91.24% 0.00%, 84.18% 3.19%, 61.92% 0.25%, 60.65% 2.94%, 59.70% 0.74%, 4.22% 1.72%, 0.00% 18.87%, 2.53% 27.70%));
  } @else if ($variant == 2){
    @include clip-path(polygon(44% 100%, 44% 100%, 28% 91%, 28% 91%, 0% 81%, 0% 81%, 2% 44%, 2% 44%, 17% 2%, 22% 4%, 22% 4%, 68% 0%, 68% 0%, 77% 11%, 77% 11%, 90% 10%, 90% 10%, 100% 44%, 100% 44%, 98% 50%, 98% 50%, 74% 68%, 74% 68%, 68% 84%, 68% 84%));
  } @else if ($variant == 3){
    @include clip-path(polygon(97% 95%, 84% 97%, 81% 99%, 52% 96%, 5% 97%, 2% 93%, 3% 85%, 0% 45%, 3% 36%, 1% 8%, 6% 3%, 60% 0%, 63% 3%, 97% 1%, 98% 4%, 100% 22%, 97% 42%, 100% 68%));
  }
}
