---
permalink: new/
dates: 5-12 ноября
place: Турция, Анталия
---

{% include course/header.html %}
{% include course/summary.html dates=page.dates place=page.place %}
<section class="instructor">  <img src="/img/course/instructor.png" alt=""></section>
{% include course/instructor.html %}
<section class="pic">     <img src="/img/course/pic1.png" alt=""></section>
<section class="place">     <img src="/img/course/place.png" alt=""></section>
{% include course/place.html %}
<section class="pic">     <img src="/img/course/pic2.png" alt=""></section>
<!--<section class="gallery-wrapper">-->
  <!--<div class="gallery">-->
    <!--<div class="stripe-wrapper">-->
      <!--<div class="stripe">-->
        <!--<img src="/img/course/place1.jpg" alt=""><img src="/img/course/place2.jpg" alt=""><img src="/img/course/place3.jpg" alt="">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--{% include course/gallery.html %}-->
<section class="ready">       <img src="/img/course/ready.png" alt=""></section>
<section class="pic">     <img src="/img/course/pic3.png" alt=""></section>
<section class="eat">       <img src="/img/course/eat.png" alt=""></section>
<section class="pic">     <img src="/img/course/pic1.png" alt=""></section>
<section class="reviews">   <img src="/img/course/reviews.png" alt=""></section>
{% include course/reviews.html %}
<section class="payment">   <img src="/img/course/payment.png" alt=""></section>
{% include course/payment.html %}
