.include-footer{
  @extend .small;
  @include clearfix;
  @include container;
  left: 0;
  bottom: 15px;
  position: absolute;
  padding: 0 $body-padding;
  @media (min-width: $width-tablet) {
    padding: 0;
    bottom: 35px;
  }
  right: 0;
  color: silver;
  a{
    @include underlined-link(white);
    &:hover{
      @include underlined-link($color-accent);
    }
  }
  p{
    margin: 0;
  }
  .col{
    @include span(2);
    &:last-child{
      @include span(4 last);
      text-align: right;
    }
  }
}
