.include-nav{
  $line-height: 35px;
  @include span(6);
  margin-bottom: 47px;
  margin-top: 20px;
  /*vertical-align: bottom;*/
  /*text-align: center;*/
  .logo{
    /*margin-left: -20px;*/
    /*margin-right: 15px;*/
    /*vertical-align: 40%;*/
    background-image: url(/assets/img/logo.svg);
    background-position: 0 100%; 
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    height: $line-height;
    margin-right: -17px;
    text-indent: -9999px;
    vertical-align: bottom;
    width: 30vw;
    @media (min-width: $width-phone) {
      width: 170px;
    }
    &:hover{
      background-image: url(/assets/img/logo-hover.svg);
    }
  }
  .line{
    display: table;
    width: 100%;
    &>*{
      display: table-cell;
    }
    .logo-wrapper{
      width: 156px;
    }
    .descriptor{
      height: $line-height;
      vertical-align: bottom;
      display: none;
      @media (min-width: $width-phone) {
        display: table-cell;
      }
    }
    .secondary{
      @extend .small;
      height: $line-height;
      text-align: right;
      vertical-align: bottom;
      span{
        display: inline-block;
        @media (min-width: $width-phone) {
          margin: -5px 0;
          padding: 5px 15px;
        }
        &:last-child{
          @media (min-width: $width-phone) {
            margin-right: -15px;
          }
        }
        &.active{
          display: none;
          @media (min-width: $width-phone) {
            display: inline-block;
            background: white;
          }
        }
      }
    }
  }
}
