.include-section{
  @include clearfix;
  margin-bottom: 70px;
  .text{
    @include span(6);
    @media (min-width: $width-phone) {
      @include span(4);
    }
    line-height: $line-height-large;
  }
  .image{
    @include span(4);
    margin-bottom: 20px;
    margin-top: 10px;
    @media (min-width: $width-phone) {
      @include span(2 last);
      margin: 0;
    }
    img{
      @include mask(2);
      width: 100%;
      @media (min-width: $width-phone) {
        margin-right: -10px;
        body.firefox &{
          margin-left: 0;
        }
      }
    }
    .caption{
      @extend .small;
      /*padding: 0 10px;*/
      /*text-align: center;*/
      p{
        margin: 0;
      }
    }
  }
  &.image-position-right{
    .text{
      @media (min-width: $width-phone) {
        /*@include push(2);*/
        @include last;
      }
    }
    .image{
      @media (min-width: $width-phone) {
        /*@include pull(6);*/
        margin-right: gutter();
        float: left;
        img{
          margin-right: 0;
          margin-left: -10px;
          body.firefox &{
            margin-left: 0;
          }
        }
      }
    }
  }
  &.mask1 .image img{@include mask(1);}
  &.mask2 .image img{@include mask(2);}
  &.mask3 .image img{@include mask(3);}
  &.mask4 .image img{@include mask(4);}
  &.mask5 .image img{@include mask(5);}
  &.mask6 .image img{@include mask(6);}
  &.mask7 .image img{@include mask(7);}
  &.mask8 .image img{@include mask(8);}
  &.mask9 .image img{@include mask(9);}
  &.mask10 .image img{@include mask(10);}
  &.mask11 .image img{@include mask(11);}
  &.mask12 .image img{@include mask(12);}
  &.mask13 .image img{@include mask(13);}
  &.mask14 .image img{@include mask(14);}
  &.mask15 .image img{@include mask(15);}
  &.mask16 .image img{@include mask(16);}
}
