.layout-course{
  .parallax-container{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    &.parallax-container-back{
      z-index: -1;
    }
    &.parallax-container-front{
    }
    .parallax{
      /*pointer-event: none;*/
      height: auto;
      left: 50%;
      pointer-events: none; //TODO uncomment
      position: absolute;
      top: 0;
      transform: translate3d(-50%,0,0);
      width: $parallax-width;
    }
    .rocks{
    }
    .clouds{
      background: #fff;
      height: 100%;
    }
    /*.footer-stone{*/
      /*[>width: $parallax-width;<]*/
      /*[>width: 3000px;<]*/
      /*bottom: 0px;*/
      /*[>height: 610px;<]*/
      /*height: 266px;*/
      /*pointer-events: auto;*/
      /*top: auto;*/
      /*transform:  translate3d(-50%, 100%, 0); // hiding on load*/
      /*width: 100%;*/
    /*}*/
  }
  article{
    section{
      @include clearfix;
      display: block;
      margin-bottom: 70px;
      margin-left: auto;
      margin-right: auto;
    }
    .header{
      left: 50%;
      position: absolute;
      transform:  translate3d(-50%, 0, 0);
      z-index: 2;
    }
    .summary{
      padding-top: 455px;
    }
    .pic{
      margin-bottom: 10px;
    }
    .instructor{
      /*margin-bottom: -10px;*/
      /*.emerge{*/
        /*background: #000;*/
        /*width: 500px;*/
        /*height: 100px;*/
        /*position: absolute;*/
      /*}*/
      /*.emerge-skill{*/
        
      /*}*/
      /*.emerge-avatar{*/
        
      /*}*/
    }
    .gallery-wrapper{
      margin: 0 -500px;
      overflow: hidden;
      padding: 0 500px;
      .gallery{
        /*width: 795px;*/
        height: 600px;
        margin: auto;
      }
      .stripe-wrapper{
        height: 100%;
      }
      .stripe{
        display: inline-block;
        height: 100%;
        white-space: nowrap;
      }
      img{
        display: inline-block;
        height: 100%;
      }
    }
    .payment{
      /*opacity: 0;*/
      margin-bottom: 400px;
    }
  }
}
