.layout-course{
  padding-bottom: 350px;
  .parallax-container{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    &.parallax-container-back{
      z-index: -1;
    }
    &.parallax-container-front{
    }
    .parallax{
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      /*pointer-event: none;*/
      backface-visibility: hidden;
      /*display: none;*/
      height: auto;
      left: 50%;
      perspective: 1000;
      pointer-events: none; //TODO uncomment
      position: absolute;
      top: 0;
      transform: translate3d(-55%,0,0);
      width: 400vw;
      @media (min-width: $width-tablet) {
        /*display: block;*/
        width: $parallax-width;
        transform: translate3d(-50%,0,0);
      }
    }
    .rocks, .rocks2{
      display: none;
      @media (min-width: $width-laptop) {
        display: block;
      }
    }
    .clouds{
      background: #fff;
      height: 100%;
      opacity: 0;
    }
    .sun{
      opacity: 0.1;
    }
  }
  article{
    section{
      @include clearfix;
      display: block;
      margin-bottom: $section-margin-bottom / 2;
      @media (min-width: $width-phone) {
        margin-bottom: $section-margin-bottom;
      }
      margin-left: auto;
      margin-right: auto;
    }
    .header{
      left: 50%;
      position: absolute;
      transform:  translate3d(-50%, 0, 0);
      z-index: 2;
    }
    .summary{
      padding-top: 455px;
    }
    .pic{
      margin-bottom: 10px;
    }
    .instructor{
    }
  }
}
