.layout-course{
  .parallax-container{
    bottom: 0;
    left: 100px;
    position: fixed;
    right: 100px;
    top: 0;
    &.parallax-container-back{
      z-index: -1;
    }
    .parallax{
      /*pointer-event: none;*/
      height: auto;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate3d(-50%,0,0);
      width: 3334px;
    }
    .rocks{
    }
    .clouds{
      background: #fff;
      height: 100%;
    }
    .footer-stone{
      bottom: 0px;
      height: 610px;
      top: auto;
      transform:  translate3d(-50%, 100%, 0); // hiding on load
      width: 3000px;
    }
  }
  article{
    text-align: center;
    section{
      margin-bottom: 70px;
    }
    .header{
      left: 50%;
      position: absolute;
      transform:  translate3d(-50%, 0, 0);
      z-index: 2;
    }
    .summary{
      padding-top: 455px;
    }
    .pic{
      margin-bottom: 10px;
    }
    .instructor{
      /*margin-bottom: -10px;*/
      /*.emerge{*/
        /*background: #000;*/
        /*width: 500px;*/
        /*height: 100px;*/
        /*position: absolute;*/
      /*}*/
      /*.emerge-skill{*/
        
      /*}*/
      /*.emerge-avatar{*/
        
      /*}*/
    }
    .gallery-wrapper{
      overflow: hidden;
      .gallery{
        height: 600px;
        margin: auto;
        width: 795px;
      }
      .stripe-wrapper{
        height: 100%;
      }
      .stripe{
        display: inline-block;
        height: 100%;
        white-space: nowrap;
      }
      img{
        display: inline-block;
        height: 100%;
      }
    }
    .payment{
      /*opacity: 0;*/
      margin-bottom: 400px;
    }
  }
}
