.layout-course{
  position: relative;
  .parallax-bg{
    background-size: 3334px auto;
    background-attachment: fixed;
    background-position-x: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .parallax-bg-sky{
    background-image: url(/img/course/sky.svg);
  }
  .parallax-bg-hills{
    background-image: url(/img/course/hills.svg);
  }
  .parallax-bg-forest1{
    background-image: url(/img/course/forest1.svg);
  }
  .parallax-bg-forest2{
    background-image: url(/img/course/forest2.svg);
  }
  .parallax-bg-rocks{
    background-image: url(/img/course/rocks.svg);
  }
  .parallax-bg-clouds{
    /*animation: clouds 10s linear infinite;*/
    /*background-attachment: initial;*/
    /*background-image: url(/img/course/clouds.svg);*/
    background-color: #fff;
    /*background-position-y: 0;*/
    /*background-repeat: repeat-x;*/
    /*background-size: 1440px auto;*/
    /*position: fixed;*/
    /*top: -20%;*/
  }
  /*@keyframes clouds {*/
    /*from { */
      /*background-position-x: 0px; */
    /*}*/
    /*to {*/
      /*background-position-x: 1440px;*/
    /*}*/
  /*}*/
  article{
    text-align: center;
    .payment{
      margin-top: -100px;
      overflow: hidden;
    }
  }
}
