* {
	font-family: Verdana, sans-serif;
	color: #000;
	box-sizing: border-box;
	padding: 0px;
	margin: 0;
}

h1 {
	line-height: 41px;
    font-size: 33px;
    margin-bottom: 28px;
}

h2 {
	font-size: 34px;
}

/* Кнопки */
.glasha-button {
	background-color: rgb(255,255,255);
    border-radius: 5px;
    border: 3px solid;
    border-color: rgb(0,0,0);
    font-weight: 700;
    font-style: normal;
    color: rgb(1,10,10);
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
    text-align: center;
}

.glasha-button:hover {
	border-color: rgb(0,0,0);
	cursor: pointer;
	border-width: 1px;
    padding: 17px 22px 14px 22px;
	color: rgba(1, 10, 10, 0.79);
}

#play-button,
#next-week-button {
    margin: 0 5%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Экраны */
.first-screen,
.game-results-screen {
	width: 1024px;
	height: 800px;
	position: relative;
	margin: 0 auto;
}

.first-screen-glasha-img,
.first-screen-text,
#first-screen-button,
.first-screen-footer,
.result-screen-glasha-img,
.result-screen-text,
.result-screen-button,
.result-screen-footer {
	position: absolute;
}

/* Первый экран */
.first-screen-glasha-img {
	width: 630px;
	height: 707px;
	left: -52.62px;
	top: 3px;
	z-index: 100;
}

.first-screen-text,
.result-screen-text {
	text-align: center;
	z-index: 101;
}

.first-screen-text {
	width: 533px; 
	left: 362px;
	top: 91px;
}

.first-screen-text p {
	line-height: 24px;
    font-size: 19px;
}

#first-screen-button {
	left: 549px;
	top: 421px;
	z-index: 102;
	width: 151px;
	height: 59px;
}

.first-screen-footer {
	left: 67px;
	top: 660px;
	width: 648px;
	z-index: 104;
	line-height: 16px;
    font-size: 13px;
}

.first-screen-footer p {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 42px;
}

.first-screen-footer p a {
	color: rgb(0,120,255);
	padding-bottom: 2px;
	text-decoration: none;
	background: linear-gradient(to right, rgba(0,120,255, 0.4) 0%, rgba(0,120,255, 0.4) 100%);
    background-size: 1px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x;
}

.first-screen-footer p a:hover {
	background: none;
	cursor: pointer;
}

/* Игровое поле */
#game-field {
	width: 700px;
	margin: 20px auto;
	border-radius: 5px;
	padding-bottom: 20px;
}

#game-field,
.subtotal-field,
.game-results-screen {
	display: none;
}

/* Все предметы */
.all-objects-field {
	margin: 0 auto;
	margin-top: 20px;
	width: 700px;
}

/*  Один предмет */
.object-field {
	display: inline-block;
	width: 130px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.object-field .object-price,
.object-field .object-quantity {
	font-size: 18px;
	color: #333;
    margin-bottom: 10px;
}

.object-field .object-price {
	font-weight: 600;
}

.object-field .object-image img {
	max-width: 130px;
	max-height: 130px;
}

/* Ввод количества */
.input-group-quantity input {
    width: 50px;
    font-size: 1em;
    text-align: center;
    border: 1px solid;
    border-bottom-color: #ddd;
    border-top-color: #e7e7e7;
    border-left-style: none;
    border-right-style: none;
    vertical-align: top;
}

.input-group-quantity .input-group-button {
    padding: 1px 1px 1px 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    /*background-color: #eee;*/
    border: 1px solid #ccc;
    width: 24px;
    background-image: -webkit-linear-gradient(top,#fdfcf8,#dcd9cc);
    -webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;  
}

.input-group-quantity .input-group-button:hover {
    cursor: pointer;
    /*background: #ccc;*/
}

.input-group-quantity .input-group-button.inc {
	margin-left: -6px;
	padding: 1px 6px 1px 6px;
}

.input-group-quantity .input-group-button span.icon-inc:before,
.input-group-quantity .input-group-button span.icon-dec:before {
 	font-size: 14px;
}

/*.input-group-quantity .input-group-button span.icon-inc:before {
    content: "+";
}

.input-group-quantity .input-group-button span.icon-dec:before {
    content: "−";
}*/

/* Нижняя панель с результатами и кнопками */
.game-bottom-panel {
	margin: 0 auto;
	margin-top: 40px;
	width: 700px;
	text-align: justify;
}

.game-bottom-panel:before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
}
 
.game-bottom-panel:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.current-week,
.current-loss,
#play-button,
#next-week-button {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#next-week-button {
	display: none;
}

.current-loss {
	visibility: hidden;
}

.current-week,
.current-loss {
	font-size: 24px;
	text-align: center;
	color: #333;
	line-height: 10px;
}

.current-week p,
.current-loss p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.current-loss p:last-child,
.current-loss p:last-child span,
.total-loss p span,
.total-spend p span {
	color: #ef0920;
}

/*Результаты игры*/
#game-result-01,
#game-result-02,
#game-result-03,
#game-result-04,
#game-result-05,
#game-result-06 {
	display: none;
}

.result-screen-glasha-img {
    z-index: 100;
}

.result-screen-text,
.result-screen-button {
	z-index: 103;
}

.result-screen-text p {
	line-height: 36px;
    font-size: 29px;
}

.result-screen-text > p:first-child {
    padding-bottom: 20px;
}

.game-results-screen .result-screen-footer {
	left: 193px;
    top: 671px;
    width: 724px;
    height: 109px;
    z-index: 102;
    text-align: center;
}

.game-results-screen .result-screen-button {
    width: 210px;
    height: 59px;
}

#game-result-01 .result-screen-glasha-img,
#game-result-02 .result-screen-glasha-img,
#game-result-03 .result-screen-glasha-img {
    left: 41px;
    top: -11px;
    width: 598px;
    height: 671px;
}

#game-result-01 .result-screen-text,
#game-result-02 .result-screen-text,
#game-result-03 .result-screen-text,
#game-result-05 .result-screen-text {
    left: 435px;
    top: 113px;
    width: 536px;
    height: 267px;
}

#game-result-01 .result-screen-button,
#game-result-02 .result-screen-button,
#game-result-03 .result-screen-button,
#game-result-05 .result-screen-button  {
	left: 600px;
    top: 421px;
}

#game-result-04 .result-screen-glasha-img {
	width: 535px;
	height: 600px;
	left: 37px;
	top: 47px;
}

#game-result-04 .result-screen-text {
	left: 462px;
    top: 89px;
    width: 536px;
    height: 267px;
}

#game-result-04 .result-screen-button {
	left: 621px;
    top: 372px;
}

#game-result-05 .result-screen-glasha-img {
	left: 55px;
    top: 23px;
    width: 529px;
    height: 617px;
}

#game-result-06 .result-screen-glasha-img {
	left: 67px;
    top: 40px;
    width: 501px;
    height: 600px;
}

#game-result-06 .result-screen-text {
    left: 435px;
    top: 200px;
    width: 536px;
    height: 120px;
}

#game-result-06 .result-screen-button {
	left: 589px;
    top: 341px;
}
