* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	box-sizing: border-box;
	padding: 0px;
	margin: 0;
}

h1, h2, h3 {
	font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
}

h1 {
	line-height: 41px;
    font-size: 34px;
    margin-bottom: 28px;
}

h2 {
	font-size: 30px;
    line-height: 34px;
    text-align: center;
}

h3 {
	font-size: 24px;
	line-height: 24px;
}

.green__text {
	color: #008000;
}

/* Кнопки */
.glasha-button {
	width: 230px;
	height: 68px;
	background-image: url(../img/interface/button.png); 
    border: none;
    font-weight: 700;
    font-style: normal;
    color: rgb(1,10,10);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.glasha-button:hover {
	background-image: url(../img/interface/button-hovered.png); 
	cursor: pointer;
}

.glasha-button:hover,
.glasha-button:hover p {
	color: #fff;
}

#play-button,
#next-week-button {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 22px;
    width: 230px;
    display: block;
}

/* Экраны */
.first-screen,
.game-results-screen {
	width: 1024px;
	height: 800px;
	position: relative;
	margin: 0 auto;
}

.first-screen-glasha-img,
.first-screen-text,
#first-screen-button,
.first-screen-footer,
.result-screen-glasha-img,
.result-screen-text,
.result-screen-addtext,
.result-screen-button,
.result-screen-footer,
.subtotal-result-screen-button {
	position: absolute;
}

/* Первый экран */
.first-screen-glasha-img {
    width: 498px;
    height: 611px;
	left: -2.78px;
    top: 9px;
	z-index: 100;
}

.first-screen-text,
.result-screen-text {
	text-align: left;
	z-index: 101;
}

.first-screen-text {
	width: 533px; 
	left: 500px;
	top: 69px;
	font-size: 22px;
	line-height: 26px;
}

.first-screen-text p {
	line-height: 25px;
    font-size: 20px;
    margin-bottom: 15px;
}

#first-screen-button {
	left: 496px;
	top: 410px;
	z-index: 102;
	width: 230px;
}

.first-screen-footer {
	left: 500px;
	top: 553px;
	width: 648px;
	z-index: 104;
	line-height: 16px;
    font-size: 13px;
}

.first-screen-footer p {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 42px;
}

.first-screen-footer p a {
	color: rgb(0,120,255);
	padding-bottom: 2px;
	text-decoration: none;
	background: linear-gradient(to right, rgba(0,120,255, 0.4) 0%, rgba(0,120,255, 0.4) 100%);
    background-size: 1px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x;
}

.first-screen-footer p a:hover {
	background: none;
	cursor: pointer;
}

/* Игровое поле */
#game-field {
	width: 100%;
	height: 800px;
	background: url(../img/interface/glasha-fridge.png) no-repeat center 72px; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 1700px;
}

#game-field,
.subtotal-field,
.game-results-screen,
.result-screen-footer {
	display: none;
}

.subtotal-field {
	margin: 0px auto;
	margin-top: 30px;
	height: 500px;
}

.subtotal-field h2 {
	margin-top: 25px;
	font-size: 25px;
}

.choose-field {
	width: 724px;
	margin: 30px auto;
}

.objects-left {
	margin-top: 28px;
}

.subtotal-field .objects-soured .object-field {
	margin-bottom: 50px;
}

/* Все предметы */
.all-objects-field {
	margin: 0 auto;
	margin-top: 2px;
	width: 620px;
}

/*  Один предмет */
.object-field {
	display: inline-block;
	width: 130px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.objects-left .object-field {
	margin-bottom: 44px;
}

.object-field .object-price,
.object-field .object-quantity {
	font-size: 18px;
	color: #333;
    margin-top: 10px;
}

.object-field .object-price {
	font-weight: 600;
}

.object-field .object-image img {
	max-width: 130px;
	max-height: 130px;
}

/* Ввод количества */
.input-group-quantity input {
    width: 38px;
    font-size: 1em;
    text-align: center;
    border: 1px solid;
    border-bottom-color: #ddd;
    border-top-color: #e7e7e7;
    border-style: none;
    vertical-align: bottom;
    padding-bottom: 5px;
    background: none;
}

.input-group-quantity .input-group-button {
    height: 24px;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;  
}

.input-group-quantity .input-group-button:hover {
    cursor: pointer;
}

.input-group-quantity .input-group-button.inc {
	width: 27px;
	margin-left: -2px;
	background-image: url(../img/interface/button-plus.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.input-group-quantity .input-group-button.dec {
    width: 24px;
	margin-left: -6px;
	background-image: url(../img/interface/button-minus.png);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Панель с результатами и кнопками */
.game-bottom-panel {
	margin: 0 auto;
	width: 630px;
	text-align: justify;
}

.game-bottom-panel:before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
}
 
.game-bottom-panel:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.current-week,
.current-loss,
.current__money,
.goal__money,
.saturation__indicator {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: 22px;
	text-align: center;
	color: #333;
	line-height: 10px;
}

#next-week-button {
	visibility: hidden;
	width: 234px;
}

.current-week p,
.current-loss p,
.current__money p,
.goal__money p,
.saturation__indicator p {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 28px;
}

.current-loss span,
.total-loss p span,
.total-spend p span,
h2 span,
.red__text,
.green__text.red__text {
	color: #ef0920;
}

/* Сытость */
.saturation__indicator p {
	margin-top: 5px;
}

#saturation__scale {
	width: 127px;
    height: 30px;
    background: url(../img/interface/scale.png) no-repeat center;
    background-size: 86% 100%;
    display: block;
    margin-top: -20px;
    padding: 2px 14px 0px 14px;
}

#saturation__status {
	background: #333;
    width: 0%;
    height: 26px;
}

/*Результаты игры*/
#game-result-01,
#game-result-02,
#game-result-03,
#game-result-04,
#game-result-05,
#game-result-06,
#game-result-07,
#game-result-08 {
	display: none;
}

.result-screen-glasha-img {
    z-index: 100;
}

.result-screen-text,
.result-screen-button,
.subtotal-result-screen-button {
	z-index: 103;
}

.result-screen-text h2 {
	line-height: 44px;
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px;
}

.result-screen-text p {
	line-height: 31px;
    font-size: 25px;
}

.result-screen-addtext p {
	line-height: 25px;
    font-size: 20px;
}

.result-screen-text > p:first-child {
    padding-bottom: 20px;
}

.game-results-screen .result-screen-footer {
	left: 193px;
    top: 671px;
    width: 724px;
    height: 109px;
    z-index: 102;
    text-align: center;
}

#game-result-01 .result-screen-glasha-img,
#game-result-02 .result-screen-glasha-img,
#game-result-03 .result-screen-glasha-img {
    left: 10px;
    top: -46px;
    width: 629px;
    height: 706px;
}

#game-result-01 .result-screen-text,
#game-result-02 .result-screen-text,
#game-result-03 .result-screen-text {
    left: 502px;
    top: 80px;
    width: 536px;
    height: 267px;
}

#game-result-01 .result-screen-button,
#game-result-03 .result-screen-button,
#game-result-05 .result-screen-button  {
	left: 502px;
    top: 371px;
}

.result-screen-addtext {
    z-index: 104;
}

#game-result-01 .result-screen-addtext {
	left: 502px;
    top: 500px;
}

#game-result-02 .result-screen-addtext {
	left: 502px;
    top: 453px;
}

#game-result-02 .result-screen-button {
    left: 502px;
    top: 321px;
}

#game-result-04 .result-screen-glasha-img {
    left: -15px;
    top: 20px;
    width: 502px;
    height: 604px;
}

#game-result-04 .result-screen-text {
	left: 522px;
    top: 93px;
    width: 536px;
    height: 267px;
}

#game-result-04 .result-screen-button {
	left: 518px;
    top: 390px;
}

#game-result-05 .result-screen-glasha-img {
    left: 24px;
    top: 1px;
    width: 565px;
    height: 659px;
}

#game-result-05 .result-screen-text {
	left: 522px;
    top: 113px;
}

#game-result-05 .result-screen-button {
	left: 522px;
	top: 391px;
}

#game-result-06 .result-screen-glasha-img {
    left: 49px;
    top: 0px;
    width: 540px;
    height: 647px;
}

#game-result-06 .result-screen-text {
    left: 499px;
    top: 200px;
    width: 536px;
    height: 120px;
}

#game-result-06 .result-screen-button {
	left: 498px;
    top: 341px;
}

#game-result-07 .result-screen-glasha-img {
    left: 39px;
    top: 13px;
    width: 540px;
    height: 647px;
}

#game-result-07 .result-screen-text {
	left: 435px;
    top: 153px;
    width: 744px;
    height: 167px;
}

#game-result-07 .subtotal-result-screen-button {
	left: 435px;
    top: 361px;
}

#game-result-08 .result-screen-glasha-img {
	left: 0px;
    top: 30px;
    width: 541px;
    height: 630px;
}

#game-result-08 .result-screen-text {
    left: 435px;
    top: 153px;
    width: 744px;
    height: 147px;
}

#game-result-08 .subtotal-result-screen-button {
	left: 435px;
    top: 341px;
}

.total-money {
	margin-top: 20px;
}