.include-enroll-form{
  /*position: relative;*/
  /*width: 100%;*/
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  .content{
    @include clearfix;
    @include container;
    margin-bottom: 120px;
    margin-top: 140px;
  }
  img.background{
    /*width: 3000px;*/
    bottom: 0;
    left: 50%;
    position: absolute;
    transform:  translate3d(-50%, 0, 0);
    z-index: -1;
  }
  form{
    $w: 40%;
    /*vertical-align: middle;*/
    @include span(5);
    display: inline-block;
    input, button{
      $h: 44px;
      -webkit-appearance: none;
      /*vertical-align: top;*/
      border: none;
      box-sizing: border-box;
      display: inline-block;
      font-size: $font-size-base;
      height: $h;
      line-height: $h;
      padding: 0;
    }
    input{
      padding: 0 10px;
      width: 100% - $w;
    }
    button{
      /*float: right;*/
      background: $color-accent;
      color: white;
      cursor: pointer;
      margin-right: -100px;
      padding: 0 30px;
      white-space: nowrap;
      width: $w;
    }
    .enroll-form-status{
      color: white;
      margin-bottom: -0.5em - $line-height;
      margin-top: 0.5em;
      a, a:hover{
        color: white;
      }
      p{
        margin-bottom: 0;
      }
      &.error{
        color: $color-accent;
        a, a:hover{
          color: $color-accent;
          border-bottom-color: rgba($color-accent, 0.6);
        }
      }
    }
  }
  .vk{
    /*vertical-align: middle;*/
    @extend .small;
    @include span(1 last);
    display: inline-block;
    margin-top: 5px;
    a{
      @include underlined-link(white);
    }
  }
}
