.include-enroll-form{
  /*position: relative;*/
  /*width: 100%;*/
  @include container;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  .content{
    /*@include container;*/
    margin-bottom: 89px;
    @include clearfix;
  }
  img.background{
    bottom: 0;
    left: 50%;
    position: absolute;
    transform:  translate3d(-50%, 0, 0);
    /*width: 3000px;*/
    z-index: -1;
  }
  form{
    $w: 40%;
    @include span(5);
    background: yellow;
    display: inline-block;
    /*vertical-align: middle;*/
    input, button{
      $h: 44px;
      -webkit-appearance: none;
      /*vertical-align: top;*/
      border: none;
      box-sizing: border-box;
      display: inline-block;
      font-size: $font-size-base;
      height: $h;
      line-height: $h;
      padding: 0;
    }
    input{
      padding: 0 10px;
      width: 100% - $w;
    }
    button{
      /*float: right;*/
      background: $color-accent;
      color: white;
      cursor: pointer;
      margin-right: -100px;
      padding: 0 30px;
      white-space: nowrap;
      width: $w;
    }
  }
  .vk{
    /*vertical-align: middle;*/
    @extend .small;
    @include span(1 last);
    display: inline-block;
    margin-top: 5px;
    a{
      @include underlined-link(white);
    }
  }
}
