.include-enroll-form{
  @include clearfix;
  $btn-submit-width: 40%;
  $input-height: 44px;
  margin: 170px 0 0;
  background: #233338;
  position: relative;
  /*bottom: 0;*/
  color: white;
  /*left: 0;*/
  /*overflow-x: hidden;*/
  padding: 0 $body-padding;
  /*position: absolute;*/
  /*right: 0;*/
  @media (min-width: $width-tablet) {
    background: none;
    padding: 0;
  }
  .content{
    @include clearfix;
    @include container;
    height: 240px;
    margin-top: 60px;
    @media (min-width: $width-phone){
      height: 170px;
      margin-top: 70px;
    }
    @media (min-width: $width-tablet){
      margin-top: 140px;
    }
  }
  img.background{
    bottom: 0;
    left: 50%;
    position: absolute;
    transform:  translate3d(-50%, 0, 0);
    z-index: -1;
    display: none;
    @media (min-width: $width-tablet) {
      display: block;
    }
  }
  .enroll-form-wrapper{
    @include span(6);
    @media (min-width: $width-tablet) {
      @include span(5);
    }
  }
  form{
    display: inline-block;
    position: relative;
    width: 100%;
    &.shake{
      // shaking the form
      animation: shake 0.5s linear;
      transform: translate3d(0, 0, 0);
    }
    &:focus{
      opacity: 0.5;
    }
    input, button{
      -webkit-appearance: none;
      border-radius: 0;
      border: none;
      box-sizing: border-box;
      display: inline-block;
      font-size: $font-size-base;
      height: $input-height;
      outline: none !important;
      padding: 0;
    }
    input{
      $outline-width: 3px;
      border-right-width: 0;
      border: $outline-width solid transparent;
      padding: 0 8px;
      transition: border-color 300ms;
      width: 100%;
      @media (min-width: $width-phone) {
        width: 100% - $btn-submit-width;
      }
      &:focus{
        border-color: $color-accent;
        border: $outline-width solid $color-accent;
      }
      &[name="_gotcha"], &[type="hidden"]{
        display: none;
      }
    }
    button{
      background: $color-accent;
      color: white;
      cursor: pointer;
      margin-right: -100px;
      margin-top: 6px;
      padding: 0 30px;
      white-space: nowrap;
      padding: 0;
      max-width: 277px;
      width: 90%;
      @media (min-width: $width-phone) {
        margin-top: 0;
        width: $btn-submit-width;
      }
    }
    .enroll-form-status{
      @extend .small;
      display: none;
      margin-bottom: -0.5em - $line-height;
      margin-top: 0.5em;
      @media (min-width: $width-tablet) {
        font-size: $font-size-base;
      }
      p{
        margin-bottom: 0;
      }
      &.error{
        /*color: $color-accent;*/
        color: silver;
        a{
          /*$color: lighten($color-accent, 22);*/
          /*@include underlined-link($color);*/
          @include underlined-link(white);
          &:hover{
            @include underlined-link($color-accent);
          }
        }
      }
    }
  }
  .success{
    *{
      display: inline-block;
    }
    .btn{
      /*width: $btn-submit-width;*/
      @include span(2);
    }
    p{
      @include span(3);
      margin-top: 4px;
    }
  }
  .vk{
    /*vertical-align: middle;*/
    @extend .small;
    display: inline-block;
    margin-top: 1em;
    @media (min-width: $width-tablet) {
      @include span(1 last);
      margin-top: 5px;
    }
    a{
      @include underlined-link(white);
      &:hover{
        @include underlined-link($color-accent);
      }
    }
  }
}
@keyframes shake {
  8%, 41% {
    transform: translate3d(-10px, 0, 0);
  }
  25%, 58% {
    transform: translate3d(10px, 0, 0);
  }
  75% {
    transform: translate3d(-5px, 0, 0);
  }
  92% {
    transform: translate3d(5px, 0, 0);
  }
  0%, 100% {
    transform: translate3d(0px, 0, 0);
  }
}
