.include-enroll-form{
  $btn-submit-width: 40%;
  $input-height: 44px;
  /*position: relative;*/
  /*width: 100%;*/
  bottom: 0;
  color: white;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  .content{
    @include clearfix;
    @include container;
    height: 170px;
    margin-top: 140px;
  }
  img.background{
    /*width: 3000px;*/
    bottom: 0;
    left: 50%;
    position: absolute;
    transform:  translate3d(-50%, 0, 0);
    z-index: -1;
  }
  .enroll-form-wrapper{
    @include span(5);
  }
  form{
    /*vertical-align: middle;*/
    display: inline-block;
    position: relative;
    width: 100%;
    &.shake{
      // shaking the form
      animation: shake 0.5s linear;
      transform: translate3d(0, 0, 0);
    }
    &:focus{
      opacity: 0.5;
    }
    input, button{
      -webkit-appearance: none;
      /*line-height: $input-height;*/
      /*vertical-align: top;*/
      border: none;
      box-sizing: border-box;
      display: inline-block;
      font-size: $font-size-base;
      height: $input-height;
      padding: 0;
    }
    input{
      $outline-width: 3px;
      border-right-width: 0;
      border: $outline-width solid transparent;
      padding: 0 8px;
      transition: border-color 300ms;
      width: 100% - $btn-submit-width;
      &:focus{
        /*box-shadow: 0 0 10px yellow;*/
        /*padding: 0 10px - $outline-width;*/
        border-color: $color-accent;
        border: $outline-width solid $color-accent;
        outline: none !important;
      }
    }
    button{
      /*float: right;*/
      background: $color-accent;
      border-radius: 0;
      color: white;
      cursor: pointer;
      margin-right: -100px;
      padding: 0 30px;
      white-space: nowrap;
      width: $btn-submit-width;
    }
    .enroll-form-status{
      margin-bottom: -0.5em - $line-height;
      margin-top: 0.5em;
      p{
        margin-bottom: 0;
      }
      &.error{
        /*color: $color-accent;*/
        color: silver;
        a{
          /*$color: lighten($color-accent, 22);*/
          /*@include underlined-link($color);*/
          @include underlined-link(white);
          &:hover{
            @include underlined-link($color-accent);
          }
        }
      }
    }
  }
  .success{
    *{
      display: inline-block;
    }
    .btn{
      /*width: $btn-submit-width;*/
      @include span(2);
    }
    p{
      @include span(3);
      margin-top: 4px;
    }
  }
  .vk{
    /*vertical-align: middle;*/
    @extend .small;
    @include span(1 last);
    display: inline-block;
    margin-top: 5px;
    a{
      @include underlined-link(white);
      &:hover{
        @include underlined-link($color-accent);
      }
    }
  }
}
@keyframes shake {
  8%, 41% {
    transform: translate3d(-10px, 0, 0);
  }
  25%, 58% {
    transform: translate3d(10px, 0, 0);
  }
  75% {
    transform: translate3d(-5px, 0, 0);
  }
  92% {
    transform: translate3d(5px, 0, 0);
  }
  0%, 100% {
    transform: translate3d(0px, 0, 0);
  }
}
