.include-header{
  color: $color-accent;
  font-family: $font-family-accident;
  line-height: 1;
  padding-bottom: 66px;
  /*text-transform: uppercase;*/
  h1{
    line-height: 1;
    /*background-size: contain;*/
    /*height: 170px;*/
    /*text-indent: -9999px;*/
    /*width: 100%;*/
    font-size: 8.6em;
    margin-bottom: 7px;
  }
  .secondary{
    /*letter-spacing: 0.12em;*/
    @include clearfix;
    font-size: 2.0em;
    margin-left: 2px;
    white-space: nowrap;
    .text1, .text2{
      float: left;
    }
    .text2{
      float: right;
    }
    .digit{
      font-size: 1.1em;
      line-height: 0.8em;
    }
  }
  /*img{*/
    /*width: 100%;*/
  /*}*/
  /*.info{*/
    /*@extend .font-accident;*/
    /*color: $color-accent;*/
    /*font-size: 2.546em;*/
    /*margin-right: -1em;*/
    /*margin-top: -8px;*/
  /*}*/
}
