.include-payment{
  @include clearfix;
  .col1, .col2, .col3{
    p:last-child{
      margin-bottom: 0;
    }
    @media (min-width: $width-phone) {
      @include span(2);
    }
  }
  .col3{
    @media (min-width: $width-phone) {
      @include last;
    }
  }
  svg{
    margin-left: -15px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .content{
    @media (min-width: $width-phone) {
      margin-top: -1.2em; // fix it. Ideally margins of float elements should collapse
    }
  }
  .discount{
    // TODO rewrite
    background: url(../img/course/2016-nov-5-antalya/discount.png) 0 0 no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    height: (365px / 2);
    max-width:  (544px / 2);
    margin: 20px 0 0 -20px;
    &.crimea{
      background: url(../img/course/2017-apr-crimea/discount.png) 0 0 no-repeat;
      background-size: 100%;
    }
    /*@include mask(2);*/
    /*$margin: 32px;*/
    /*background: $color-accent;*/
    /*color: white;*/
    /*height: 300px;*/
    /*p{*/
      /*padding: $margin;*/
    /*}*/
    /*.value{*/
      /*display: block;*/
      /*font-family: $font-family-accident;*/
      /*font-size: 3.5em;*/
      /*line-height: 1em;*/
      /*margin-bottom: 2px;*/
      /*margin-top: -6px;*/
      /*margin: -$margin;*/
    /*}*/
  }
}
