.include-reviews{
  .review{
    @include span(2);
    &:last-child{
      @include last;
    }
    /*img{*/
      /*width: 100%;*/
    /*}*/
    svg{
      margin-left: -10px;
      margin-bottom: 10px;
    }
    a{
      font-weight: bold;
    }
  }
}
