.include-reviews{
  .review{
    @include span(6);
    margin-bottom: 1em;
    @media (min-width: $width-phone) {
      @include span(2);
      margin-bottom: 0;
      &:last-child{
        @include last;
      }
    }
    img{
      @include mask(3);
      width: 100% * 2/3;
      @media (min-width: $width-phone) {
        margin-left: -10px;
        body.firefox &{
          margin-left: 0;
        }
        width: 100%;
      }
    }
    /*svg{*/
      /*margin-left: -10px;*/
      /*margin-bottom: 10px;*/
    /*}*/
    a{
      font-weight: bold;
    }
    p:last-child{
      margin-bottom: 0;
    }
    &:nth-child(2) img{
      @include mask(5);
    }
    &:nth-child(3) img{
      @include mask(4);
    }
  }
}
