.include-summary{
  .enroll{
    @include clearfix;
    margin-bottom: 25px;
    .description{
      @include span(6);
      @media (min-width: $width-tablet) {
        @include span(4);
      }
      p{
        /*@extend .large;*/
        line-height: $line-height-large;
      }
    }
    .btn-wrapper{
      @include span(6);
      @media (min-width: $width-tablet) {
        @include span(2 last);
      }
      margin-bottom: 14px;
      /*text-align: center;*/
      .btn{
        box-sizing: border-box;
        max-width: 235px;
        width: 95%;
      }
    }
  }
  .audience-groups{
    @include span(6);
    .group{
      @include span(3);
      margin-bottom: 1em;
      &:nth-child(2){
        @include last;
      }
      @media (min-width: $width-tablet) {
        @include span(2);
        &:last-child{
          @include last;
        }
        margin-bottom: 0;
      }
    }
  }
}
