.include-summary{
  .enroll{
    margin-bottom: 24px;
      display: flex;
    .info{
      @extend .font-accident;
      @extend h2;
      @include span(4);
      align-self: flex-end;
      margin-bottom: 0;
    }
    .btn-wrapper{
      @include span(2 last);
      align-self: flex-end;
      text-align: right;
      margin-bottom: 14px;
    }
  }
  .description{
    @include span(4);
    margin-bottom: 46px;
    p{
      @extend .large;
    }
  }
  .audience-groups{
    @include span(6);
    .group{
      @include span(2);
      &:last-child{
        @include last;
      }
    }
  }
}
