.include-summary{
  .enroll{
    @include clearfix;
    margin-bottom: 25px;
    .description{
      @include span(4);
      p{
        /*@extend .large;*/
      }
    }
    .btn-wrapper{
      @include span(2 last);
      margin-bottom: 14px;
      /*text-align: center;*/
      .btn{
        width: 95%;
        box-sizing: border-box;
      }
    }
  }
  .audience-groups{
    @include span(6);
    .group{
      @include span(2);
      &:last-child{
        @include last;
      }
    }
  }
}
