.btn, a.btn{
  /*line-height: 35px;*/
  /*@extend .large;*/
  background: $color-accent;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  padding: 9px 10px 10px;
  text-align: center;
  &:hover{
    background: lighten($color-accent, 10);
  }
}
