.btn, a.btn{
  /*line-height: 35px;*/
  /*@extend .large;*/
  background: $color-accent;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  padding: 14px 10px 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  &:hover{
    opacity: 1;
    background: lighten($color-accent, 10);
  }
}
