#preloader{
  background-color: white;
  background-image: url(/img/icons/throbber.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
