---
layout: default
---
<div id="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<div class="layout-course" style="display: none;">
  <div class="parallax-container parallax-container-back">
    <div id="sun-div" class="parallax sun"></div>
    <div id="hills-div" class="parallax hills"></div>
    <div id="forest1-div" class="parallax forest1"></div>
    <svg id="birds-div" class="parallax forest1" style="height: 100%"></svg>
    <div id="forest2-div" class="parallax forest2"></div>
    <div class="parallax clouds"></div>
    <div id="rocks-div" class="parallax rocks"></div>
    <div id="rocks2-div" class="parallax rocks2"></div>
  </div>
  
  <article>
    {{ content }}
  </article>

  <script type="text/javascript" src="/js/course-birds.js"></script>
  <script type="text/javascript" src="/js/course-colorize.js" color-sun="{{ page.colors.sun }}" color-valley="{{ page.colors.valley }}" color-rocks="{{ page.colors.rocks }}" color-sky="{{ page.colors.sky }}"></script>
  <script type="text/javascript" src="/js/course-skrollr.js"></script>
  <script src="/bower_components/fittext/fittext.js"></script>
  <script>

  birdsInit();
  colorizeInit();
  if(!('ontouchstart' in window || navigator.maxTouchPoints)){ // Skrollr runs on pointer devices only
    $.getScript("/bower_components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js", function(){
      $.getScript("/bower_components/skrollr/dist/skrollr.min.js", function(){
        skrollrInit();
      });
    });
  }

  $(document).ready(function() {
    $('.layout-course').show();
    window.fitText( document.getElementById("header-responsive"), 0.54 );
    $('#preloader').hide();
  });

  window.onload = function () {
  }
  </script>
</div>
