---
layout: default
---
<div id="preloader"></div>
<div class="layout-course" style="display: none;">
  <div class="parallax-container parallax-container-back">
    <div id="sun-div" class="parallax sun"></div>
    <div id="hills-div" class="parallax hills"></div>
    <div id="forest1-div" class="parallax forest1"></div>
    <svg id="birds-div" class="parallax forest1" style="height: 100%"></svg>
    <div id="forest2-div" class="parallax forest2"></div>
    <div class="parallax clouds"></div>
    <div id="rocks-div" class="parallax rocks"></div>
    <div id="rocks2-div" class="parallax rocks2"></div>
  </div>
  
  <article>
    {{ content }}
  </article>

  <!--<div class="parallax-container parallax-container-front">-->
    <!--<div class="parallax footer-stone">-->
      <!--{% include course/enroll-form.html %}-->
      <!--{% include footer.html %}-->
      <!--<img src="/img/course/footer-stone.png">-->
    <!--</div>-->
  <!--</div>-->

  <!--<script type="text/javascript" src="/bower_components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js"></script>-->
  <!--<script type="text/javascript" src="/bower_components/skrollr/dist/skrollr.min.js"></script>-->
  <script type="text/javascript" src="/js/course-birds.js"></script>
  <script type="text/javascript" src="/js/course-colorize.js" color-sun="{{ page.colors.sun }}" color-valley="{{ page.colors.valley }}" color-rocks="{{ page.colors.rocks }}" color-sky="{{ page.colors.sky }}"></script>
  <script type="text/javascript" src="/js/course-skrollr.js"></script>
  <script src="/bower_components/fittext/fittext.js"></script>
  <script>

  $(document).ready(function() {
  });
  window.onload = function () {
    birdsInit();
    colorizeInit();
    if(!('ontouchstart' in window || navigator.maxTouchPoints)){
      $.getScript("/bower_components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js", function(){
        $.getScript("/bower_components/skrollr/dist/skrollr.min.js", function(){
          skrollrInit();
        });
      });
    }
    $('.layout-course').show();
    window.fitText( document.getElementById("header-responsive"), 0.54 );
    $('#preloader').hide();
  }
  </script>
</div>
