---
layout: default
---

<div class="layout-course">
  <div class="parallax-container parallax-container-back">
    <img src="/img/course/sky.svg" class="parallax sky">
    <img src="/img/course/hills.svg" class="parallax hills">
    <img src="/img/course/forest1.svg" class="parallax forest1">
    <svg id="birds-div" class="parallax forest1" style="height: 100%"></svg>
    <img src="/img/course/forest2.svg" class="parallax forest2">
    <div class="parallax clouds"></div>
  </div>
  
  <article id="skrollr-body">
    {{ content }}
  </article>

  <div class="parallax-container parallax-container-front">
    <img src="/img/course/rocks.svg" class="parallax rocks">
    <img src="/img/course/rocks2.svg" class="parallax rocks2">
    <div class="parallax footer-stone">
      {% include course/enroll-form.html %}
      <img src="/img/course/footer-stone.svg">
    </div>
  </div>

  <script type="text/javascript" src="/bower_components/skrollr-stylesheets/dist/skrollr.stylesheets.min.js"></script>
  <script type="text/javascript" src="/bower_components/skrollr/dist/skrollr.min.js"></script>
  <script type="text/javascript" src="/js/course.js"></script>
</div>
