---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=320, initial-scale=1">
  {% if page.title %}
    <title>{{ page.title }}</title>
  {% endif %}
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/Snap.svg/dist/snap.svg-min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/scrollr.css" data-skrollr-stylesheet>
  <link rel="stylesheet" href="/bower_components/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  {% comment %}
  {% if page.colors.accent %}
    {% assign color = page.colors.accent %}
    <style>
      a:hover{
        color: rgb({{ color }}) !important;
        border-color: rgba({{ color }}, 0.3) !important;
      }
      .include-header *{
        color: rgb({{ color }}) !important;
      }
    </style>
  {% endif %}
  {% endcomment %}
</head>
<body id="skrollr-body">

{% include nav.html %}

{{ content }}

{% include statistics.html %}

<script type="text/javascript" src="/bower_components/fancybox/source/jquery.fancybox.js"></script>
<script>
$(document).ready(function() {
  $("a.iframe").click(function() {
    $.fancybox({
      'padding'       : 0,
      'autoScale'     : false,
      'transitionIn'  : 'none',
      'transitionOut' : 'none',
      'title'         : this.title,
      'href'          : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
      'type'          : 'swf',
    });
    return false;
  });
});
</script>
</body>
</html>
