$susy: (
  container: 790px,
  columns: 6,
  gutters: 1/5,
  /*column-width: 122px,*/
  /*math: static,*/
  /*gutter-position: split,*/
  global-box-sizing: border-box,
  debug: (
    image: hide,
    output: background,
  )
);

html{
  position: relative;
}
body{
  @include container();
  @include clearfix;
  padding: 0 $body-padding;
  /*margin-bottom: 350px;*/
  margin-bottom: 180px;
  @media (min-width: $width-laptop) {
    padding: 0;
  }
}
